body {
    padding:0;
    box-sizing:border-box;
    margin:0;
    background-image: url("images/fichas-rojas.jpeg");
    /* background-size: cover; */
    background-position: center;
    /* background-repeat: no-repeat; */
}

.title{
    color:rgb(164, 43, 43);
    text-align:center;
    padding-top:15px;
    margin:0;
    font-family: 'Times New Roman',
    Times,
    serif;
    font-weight:bold;
    font-size:80px;
    text-shadow: 1px 1px white;
}

/* .scoreBoard{
    margin:20px 20px;
    font-family:'Times New Roman', Times, serif;
    font-size:25px;
    border:10px solid rgb(132, 24, 24);
    border-style:ridge;
    border-radius: 10px;
    text-align:center;
    font-weight:bold;
    color:white;
}

.scoreTags{
    border-bottom:4px solid rgb(132, 24, 24);
}

.playerScorePoints{
    border-right:4px solid rgb(132, 24, 24);

}

.playerScoreTag {
    border-right: 4px solid rgb(132, 24, 24);
} */

.playBoard{
    font-family:'Times New Roman',
    Times,
    serif;
    font-size:30px;
    padding-top:30px;
    font-weight:bold;
    color: white;
    text-align:center;
}

.player-buttons{
    padding:50px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    position: relative;
    font-family:'Times New Roman', Times, serif;
}

.hit-button{
    font-size: 20px;
    background:  rgb(27, 192, 27);
    font-weight: bold;
    border: 2px solid white;
    width: 100px;
    padding: 15px 15px;
    border-radius: 40px;
    margin:10px;
}

.stand-button{
    font-size: 20px;
    background: rgb(146, 7, 7);
    font-weight: bold;
    border: 2px solid white;
    width: 100px;
    padding: 15px 15px;
    border-radius: 40px;
    margin:10px;
}

.reset-button{
    font-size: 20px;
    background: black;
    font-weight: bold;
    border: 2px solid white;
    width: 100px;
    padding: 15px 15px;
    border-radius: 40px;
    margin:10px;
    color:white;
}

.playButton{
  text-align:center;
  padding:8px 20px;
}

.play-button{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background: white;
    font-weight: bold;
    border: 5px solid rgb(146, 7, 7);
    border-style:dashed;
    width: 130px;
    height:65px;
    line-height:15px;
    padding: 15px 15px;
    border-radius: 40px;
    justify-content: center;
    margin:auto;
    text-align:center;
}
