body {
    padding:0;
    box-sizing:border-box;
    margin:0;
    background-image: url("images/fichas-rojas.jpeg");
    background-position: center;
}

.title{
    color:rgb(176, 29, 29);
    text-align:center;
    padding-top:15px;
    margin:0;
    font-family: 'Times New Roman',
    Times,
    serif;
    font-weight:bold;
    font-size:80px;
    text-shadow: 1px 1px white;
}

.playBoard{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:29px;
    font-weight:bold;
    padding-top:30px;
    font-weight:bold;
    color: white;
    text-align:center;
}

.playerBoardPoints{
    border: 5px solid rgb(164, 43, 43);
    border-style: double;
}

.dealerBoardPoints {
    border: 5px solid rgb(164, 43, 43);
    border-style: double;
}

.player-buttons{
    padding:50px;
    margin: auto;
    text-align: center;
    margin-top: 30px;
    position: relative;
    font-family:'Times New Roman', Times, serif;
}

.hit-button{
    font-size: 20px;
    background:  rgb(27, 192, 27);
    font-weight: bold;
    border: 2px solid white;
    width: 100px;
    padding: 15px 15px;
    border-radius: 40px;
    margin:10px;
}

.stand-button{
    font-size: 20px;
    background: rgb(176, 29, 29);
    font-weight: bold;
    border: 2px solid white;
    width: 100px;
    padding: 15px 15px;
    border-radius: 40px;
    margin:10px;
}

.reset-button{
    font-size: 20px;
    background: black;
    font-weight: bold;
    border: 2px solid white;
    width: 100px;
    padding: 15px 15px;
    border-radius: 40px;
    margin:10px;
    color:white;
}

.Buttons-top {
  text-align:center;
  padding:8px 20px;
}

.play-button{
    display:block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    background: white;
    font-weight: bold;
    border: 5px solid rgb(146, 7, 7);
    border-style:dashed;
    width: 130px;
    height:65px;
    line-height:15px;
    padding: 15px 15px;
    border-radius: 40px;
    justify-content: center;
    margin:auto;
    text-align:center;
}

.bet-button {
    display: inline;
    font-family: 'Times New Roman',
    Times,
    serif;
    font-size: 20px;
    background: white;
    font-weight: bold;
    border: 3px solid rgb(146, 7, 7);
    border-style:dashed;
    width: 100px;
    height:50px;
    line-height:10px;
    border-radius: 20px;
    justify-content: center;
    margin:10px;
    text-align:center;
    margin-top:20px;
}


#winner{
     font-family: 'Times New Roman',
     Times,
     serif;
     font-weight:bold;
     font-size: 40px;
     text-shadow: 1px 1px rgb(190, 249, 195);
     color: rgb(75, 200, 37);
}

#loser {
    font-family: 'Times New Roman',
        Times,
        serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px rgb(255, 170, 170);
    color: rgb(215, 35, 35);
}

#tie{
    font-family: 'Times New Roman',
        Times,
        serif;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px rgb(193, 189, 189);
    color: rgb(109, 113, 108);
}

#total{
    font-family: 'Times New Roman',
    Times,
    serif;
    font-weight: bold;
    font-size: 35px;
    color:white;
    border: 3px solid rgb(221, 53, 53);
    border-radius: 10px;
    width:350px;
    height:60px;
    justify-content: center;
    text-align:center;
    margin: auto;
}

#bet-made{
    font-family: 'Times New Roman',
        Times,
        serif;
    font-weight: bold;
    font-size: 25px;
    color: rgb(3, 1, 1);
    border: 3px solid white;
    background:rgb(221, 53, 53);
    border-radius: 10px;
    width:160px;
    height:45px;
    justify-content: center;
    text-align:center;
    margin: auto;
    margin-bottom:40px;
}